*{
    margin: auto;
}

body{
    background-color: #BFBFBF;
}

nav{
    background-color: #127369;
    
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  li{
    background: #10403B;
    margin: 10px;
    padding: 15px;
    border-radius: 1em;
    text-align: center;
    width: 120px;

  }
  
  li a {
   
    text-decoration: none;
    color: #BFBFBF;
  }
li a:hover{
    color: #BFBFBF;
}
  

 h1{
     text-align: center;
 }
 .contentedorpagina{
  justify-content: center;

  
 }
 .contenedortextoimagen{
    justify-content: center;
    width: 80%;
    display: flex;
 


 }
 .cajatexto{
    background-color: #8AA6A3 ;
    width: 100%;
    height: 260px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 1cm;
 }
 .textobold{
    font-family:'Courier New';
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
 }

 .foto{
    width: 272px;
    height: 272px;
    left: 52px;
    top: 261px;
    border-radius: 130px;
}

 .subtitulos{
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}
footer{
  background-color: #10403B;
  position: fixed;
  height: 60px;
  width: 100%;
  font-size: 15px;
  bottom: 0px;
  color: #BFBFBF;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  margin-top: 11vh; 
  }

@media only screen and (max-width: 768px) {
 
  nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

  nav ul li a{
  margin: 5px;
  }

  .contenedortextoimagen {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .cajatexto {
    height: auto;
    border-radius: 0;
  }
}
@media only screen and (max-width: 379px) {
  
  body {
    position:relative;
    padding-bottom: 2em;
}

  footer {
    max-height: 40px;
      bottom: 0;
  }
}



